[submodule "matic-contracts"]
	path = matic-contracts
	url = https://github.com/maticnetwork/contracts.git
[submodule "bttc-contracts"]
	path = bttc-contracts
	url = https://github.com/bttcprotocol/contracts.git
