[submodule "matic-contracts"]
	path = matic-contracts
	url = https://github.com/maticnetwork/contracts.git
[submodule "bttc-contracts"]
	path = bttc-contracts
	url = http://39.106.174.213/BitTorrentChain/bttc-contracts
